{% import 'bootstrapform/form.jinja' as bs_form %}

{{ formset.management_form }}

{% for form in formset %}

  {% if classes.label == 'sr-only' %}
    <div class="form-inline">
  {% endif %}
      {{ bs_form.render_orm(form) }}
  {% if classes.label == 'sr-only' %}
    </div>
  {% endif %}

{% endfor %}
